

@mixin breakpoint($class) {
    @if $class == xs {
        @media (max-width: 768px) {
            @content;
        }
    }

    @else if $class == sm {
        @media (min-width: 768px) {
            @content;
        }
    }

    @else if $class == md {
        @media (min-width: 992px) {
            @content;
        }
    }

    @else if $class == lg {
        @media (min-width: 1200px) {
            @content;
        }
    }


    @else {
        @warn "Breakpoint mixin supports: xs, sm, md, lg";
    }
}


.App {
	text-align: center;
	max-width: 1200px;
	margin: auto;
	padding: 3em 0;

	.App-header {
		background-color: #def1f4;
		padding: 0 20px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		color: white;
		
		h2 {
			margin: 0.5em 0;
			color: #343434;
		}

		select {
			width: 150px;
		}
	  }


	ul {
		display: flex;
		flex-flow: row wrap;
		list-style: none;
		padding: 0;
	
		li {
			float: left;
			width: 25%;
			  box-sizing: border-box;
			border: 1px solid #e8e8e8;
			@include breakpoint(xs) {
				width: auto;
				float: none;
				flex: auto;
			}
			img {
				width: 100%;
			}
			> div.product-details {
				display: flex;
				min-height: 105px;
				padding: 0 1em;
				flex-direction: column;
				justify-content: flex-end;
	
				p {
					justify-content: space-between;
					display: flex;
					font-size: 16px;
					color: #333333;
					align-items: flex-end;
					text-align: left;
					span {
						font-size: 20px;
						font-weight: bold;
					}
				}
			}	
		}
	}
  }

  .badge {
	display: table;
	padding: 1em 2em;
	color: #fff;
    font-size: 75%;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
	
	&.-sale {
		background: #cc3333;
	}
	&.-exclusive {
		background: #009900;
	}
}


